{% extends 'base_layout.html' %}

{% block title %}Hello World! Form{% endblock %}

{% block content %}
<h1>Upload File</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.message.label }}
        {{ form.message() }}
    </div>
    <div>
        {{ form.file.label }}
        {{ form.file() }}
        {% if form.file.errors %}
        <ul class="errors">
            {% for error in form.file.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

{% if download_link %}
    <p>Transformation and data fetching successful. <a href="{{ download_link }}">Download OSM Data</a></p>
{% endif %}

{% endblock %}