/* Make sure the main container and its parents take full height */

#_pages_content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

div:has(> #_pages_content) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
