<!DOCTYPE html>
<html lang="en" style="min-height: 100%">
<head>
    {% block meta %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block styles %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/flatly/bootstrap.min.css"
                    integrity="sha256-+omx7xYvI+/C0kfnQmjAIW8dDbTweWpbYHWzveX4ii4="
                    crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}" />
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript"
                        id="MathJax-script"
                        async
                        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    {% endblock %}

    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    {% from 'bootstrap5/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', 'Home') }}
            {{ render_nav_item('explore', 'Explore') }}
            {{ render_nav_item('about', 'About') }}
        </div>
    </nav>
    {% endblock %}
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>